.heroProducts__wrapper {
  .heroProducts__section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    .heroProducts__card {
      width: 400px;
      position: relative;
      border-radius: 4px;
      margin-top: -100px;
      background-color: #fff;
      img {
        transition: 0.3s;
      }
      &:hover {
        background-color: #e5e5e5;
        img {
          rotate: -7deg;
        }
      }
      .heroProducts__card-info {
        .card__title {
          position: absolute;
          top: 30px;
          left: 52px;
          width: 202px;
          h4 {
            font-family: sans-serif;
            color: #223263;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.5px;
            text-align: left;
          }
        }
        .card__discount {
          position: absolute;
          bottom: 30px;
          left: 52px;
          display: flex;
          align-items: center;
          gap: 8px;
          del {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #9098b1;
          }
          h3 {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 0.5px;
            text-align: left;
            color: #fb7181;
          }
        }
        .card__price {
          position: absolute;
          bottom: 21px;
          right: 22px;
          h2 {
            color: #40bfff;
            font-family: sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 54px;
            letter-spacing: 0.5px;
            text-align: left;
          }
        }
      }
    }
  }
}
